[submodule "frontend"]
	path = frontend
	url = https://github.com/Nakiti/rally-crm-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Nakiti/rally-crm-backend.git
[submodule "old-version"]
	path = old-version
	url = https://github.com/Nakiti/fundraising.git
